<div class="page-header">
  <h1>診察</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        主訴
      </div>
      <div class="panel-body">
        選択してください<br>
        something
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        病気
      </div>
      <div class="panel-body">
        選択してください<br>
        something
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        検査
      </div>
      <div class="panel-body">
        検査のチェックリスト
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
        主訴: ???
        病気: ???
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>検査名</th>
          <th>検査カテゴリー</th>
          <th>陽性尤度比</th>
          <th>陰性尤度比</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>1分間圧迫</td>
          <td>身体所見</td>
          <td>20%</td>
          <td>0.2</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
