<div class="page-header">
  <h1>診察</h1>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        主訴
      </div>
      <div class="panel-body">
        選択してください<br>
        <%= render 'cheif_complaint' %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        病気
      </div>
      <div class="panel-body">
        選択してください<br>
        <%= render 'diseases' %>
      </div>
    </div>
    <%= render 'examinations' %>
  </div>
  <div class="col-md-8">
    <%= render 'results' %>
  </div>
</div>
